@page "/addjob"
@using DatabaseSite.Models
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add New Job</h3>

<EditForm Model="@job" OnValidSubmit="@HandleValidSubmit" FormName="AddJobForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="description">Description</label>
        <InputText id="description" @bind-Value="job.Description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <InputText id="status" @bind-Value="job.Status" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private Job job = new Job();

    private async Task HandleValidSubmit()
    {        await Http.PostAsJsonAsync("api/jobs", job);
        NavigationManager.NavigateTo("jobs");
    }
}
