@page "/jobs"
@using DatabaseSite.Models
@using System.Net.Http.Json
@using System.Linq
@inject HttpClient Http

<h3>Jobs</h3>

@if (!jobs.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Job #</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs)
            {
                <tr>
                    <td>@job.JobId</td>
                    <td>@job.Description</td>
                    <td>@job.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Job[] jobs = Array.Empty<Job>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<Job[]>("api/jobs");
        if (result != null)
        {
            jobs = result;
        }
    }
}